<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="serviceName" source="spring.application.name"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>America/Sao_Paulo</timeZone>
                    <fieldName>@timestamp</fieldName>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "message": "%message"
                        }
                    </pattern>
                </pattern>

                <mdc>
                    <excludeEmptyProperties>true</excludeEmptyProperties>
                </mdc>

                <pattern>
                    <pattern>
                        {
                        "service": "${serviceName:-my-api}",
                        "logger": "%logger",
                        "thread": "%thread"
                        }
                    </pattern>
                </pattern>

                <version>
                    <fieldName>@version</fieldName>
                </version>
            </providers>
        </encoder>
    </appender>

    <logger name="com.example.hexagonal_template" level="INFO" additivity="false">
        <appender-ref ref="JSON"/>
    </logger>

    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver"
            level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
